<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HelloWorldApp</title>
</head>
<body>
    <div>
      <h1>Hello {{userName}} from BridgeLabz</h1>
      <img [src]="imgUrl"  (click)="onClick($event)" alt="The Bridgelabz logo : a Bridge to Employment through a Lab Works.">
    </div>

    <div  class="input-form">
      <input  type="text" [(ngModel)]="userName" (input)="onInput($event)" placeholder="Enter your name">
      <span class="error-output">{{nameError}}</span>
    </div>
</body>
</html>
